PORT = 3000
MONGO_URL = mongodb://127.0.0.1:27017/product-management
SESSION_SECRET = my-very-secret-key

CLOUDINARY_NAME = dvwnd1eiz
CLOUDINARY_KEY = 612283224539323
CLOUDINARY_SECRET = 8lH7mOd4qgNLVSMJUycGnZad3lM

TINYMCE_API_KEY = 8ijhl02sxxzgpn0icd8nwo3kqczg7ctfcdq1ty2sz6opkbpa

MAIL_USER= vvq0522@gmail.com
MAIL_PASS= pyze wbsu midn rqsw