# dependencies
/node_modules

# environment files
.env

# debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jira scripts and temp files
test-jira.js
get-users.js
test-parse.js
provision-jira.js
users.json
